{% extends 'layout.html' %}
{% block body %}
<body>
    <h1>LOGIN</h1>
    <form action="" method="post">
        <div>
            <div class="form-floating mb-3">
                <input name="name" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
</body>
{% endblock %}