{% extends 'layout.html' %}
{% block body %}
<body>
    <h1>SOY EL USERS</h1>
    <table class="table table-hover">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr class="table-active">
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>  
            <td>{{ user[1] }}</td>  
            <td>{{ user[2] }}</td>  
            <td>{{ user[3] }}</td>  
        </tr>
        {% endfor %}
    </table>
    
</body>
{% endblock %}